server/templates/wsdl/Download.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.operations.example.com"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:ax21="http://vo.operations.example.com/xsd"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:cmn="http://example.com/mock/Common"
	targetNamespace="http://service.operations.example.com">
	<wsdl:types>
		<xs:schema xmlns:ax22="http://vo.operations.example.com/xsd"
			attributeFormDefault="qualified" elementFormDefault="qualified"
			targetNamespace="http://service.operations.example.com">
			<xs:import namespace="http://vo.operations.example.com/xsd" />
			<xs:import namespace="http://example.com/mock/Common"
				schemaLocation="./xsd/Commons.xsd" />

			<xs:element name="getFileRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element minOccurs="1" maxOccurs="1" name="Credentials" nillable="false" type="cmn:Credentials" />
						<xs:element minOccurs="1" maxOccurs="1" name="id" nillable="false" type="xs:string" />
						<xs:element minOccurs="1" name="filename" nillable="false" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getFileResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="returnCode" nillable="true" type="xs:decimal" />
						<xs:element name="message" nillable="true" type="xs:string"/>
						<xs:element name="file" nillable="true" type="cmn:FileType"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>

		</xs:schema>

		<xs:schema attributeFormDefault="qualified"
			elementFormDefault="qualified" targetNamespace="http://vo.operations.example.com/xsd">
		</xs:schema>

	</wsdl:types>

	<wsdl:message name="getFileRequest">
		<wsdl:part name="parameters" element="ns:getFileRequest" />
	</wsdl:message>
	<wsdl:message name="getFileResponse">
		<wsdl:part name="parameters" element="ns:getFileResponse" />
	</wsdl:message>

	<wsdl:portType name="DownloadPortType">

		<wsdl:operation name="getFile">
			<wsdl:input message="ns:getFileRequest"
				wsaw:Action="urn:getFile" />
			<wsdl:output message="ns:getFileResponse"
				wsaw:Action="urn:getFileResponse" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="DownloadSoap12Binding" type="ns:DownloadPortType">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"
			style="document" />

		<wsdl:operation name="getFile">
			<soap12:operation soapAction="urn:getFile"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="Download">
		<wsdl:port name="DownloadHttpSoap12Endpoint"
			binding="ns:DownloadSoap12Binding">
			<soap12:address location="{{ binding }}" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
